<hr class="hr">

<!-- Footer Section -->
<footer class="footer">
    <p>Copyright &copy; 2021 WeConnect. All rights reserved</p>
</footer>

<!-- Include javacript files -->
<script src="/socket.io/socket.io.js"></script>
<script src="/script.js" type="text/javascript" charset="utf-8"></script>